.dt-layout-combo {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0;
}

.dt-layout-combo__custom {
  display: flex;
}

.dt-layout-combo > .dt-at-rule-indicator {
  position: absolute;
  z-index: 1;
  top: calc(var(--dt-control-height-large) / 2);
  right: 8px;
  transform: translateY(-50%);
}

.dt-layout-combo:has(> .dt-at-rule-indicator) > .dt-select,
.dt-layout-combo:has(> .dt-at-rule-indicator) > .dt-text-input {
  padding-right: 68px;
}
