.layout-combo {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0;
}

.layout-combo__custom {
  display: flex;
}

.layout-combo > .at-rule-indicator {
  position: absolute;
  z-index: 1;
  top: calc(var(--control-height-large) / 2);
  right: 8px;
  transform: translateY(-50%);
}

.layout-combo:has(> .at-rule-indicator) > .select,
.layout-combo:has(> .at-rule-indicator) > .text-input {
  padding-right: 32px;
}
